html, 
body {
    background-color: rgb(83, 78, 78)
}


.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aqua;
    margin-top: 250px;
}

.button_PM {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: rgb(0, 0, 0);
    color: rgb(98, 122, 202);
}